h1 {
  color:#5179ba;
  background-color: lightgrey;
  margin: 30px auto 10px auto;
}
body {
  background-color: lightgray;
  margin-left: 20px;
}
.list-item {
  font-family: monospace;
}
#css-item {
  color: #5179ba;
}
#goal-list {
  border-style: solid;
  border-color: #5179ba;
  width: 30%;
}
#picture {
  width: 60%;
  float: right;
  border: solid;
  border-color: grey beige white grey;
  margin-left: 20px;
  margin-right: 20px;
}
h3 {
  margin-top: 25px;
  padding-top: 35px;
}
